<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-dark">
    <header class="bg-dark">
        <h1 class="text-info">Gestion des taches</h1>
    </header>

    <section >
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>