{% extends 'base_layout.html' %}
{% block title %} Formulaire de tache {% endblock %}
{% block content %}
    <h2 class="text-info m-2">Créer une tache</h2>
    <form action="{% url 'polls:create_task' %}" method="post">
        {% csrf_token %}
        <label class="text-white m-2" for="name">Nom</label>
        <input class=" bg-dark border border-2 border-info rounded m-2 text-white" type="text" name="name" id="name" required>
        <br>
        <label class="text-white m-2" for="description">Description</label>
        <input class=" bg-dark border border-2 border-info rounded m-2 text-white" type="text" name="description" id="description" required>
        <br>
        <input class="btn btn-primary m-2" type="submit" value="Créer">
    </form>
    <br>
    <a class="btn btn-danger m-2" id="button-back" href="{% url 'polls:list_tasks' %}">Retour</a>
{% endblock %}