{% extends 'base_layout.html' %}
{% block title %} Informations taches {% endblock %}
{% block content %}
<h3 class="text-info m-2">Informations tache</h3>
    {% if task %}
        <h5 class="text-white m-2">Nom : <p class="text-info m-2">{{ task.name }}.</p></h5>
        <h5 class="text-white m-2">Description : <p class="text-info m-2">{{ task.description }}</p></h5>
        <h5 class="text-white m-2">Date de création : <p class="text-info m-2">{{ task.created_date }}.</p></h5>
        <h5 class="text-white m-2">Fermé : <p class="text-info m-2">{{ task.closed }}</p></h5>
    {% else %}
        <p class="text-info m-2">Vous n'avez aucune tâche en cours</p>
    {% endif %}
    <br>
    <a class="btn btn-danger m-2" id="button-back" href="{% url 'polls:list_tasks' %}">Retour</a>
{% endblock %}