{% extends 'base_layout.html' %}
{% block title %}
  Liste des taches
{% endblock %}
{% block content %}
  <h3 class="text-info m-2">Ma liste de tache</h3>
  {% if tasks %}
    <p class="text-white m-2">Vous avez {{ tasks|length }} tâches en cours</p>
    <table class="bg-info rounded-3 border border-2 d-flex flex-column m-2" style="max-width: max-content;">
      <thead align="center">
        <tr>
          <th class="text-white p-2" colspan="4">Liste des taches</th>
        </tr>
      </thead>
      <tbody align="center">
        <th class="text-dark">Nom</th>
        <th class="text-dark">Description</th>
        <th class="text-dark">Informations</th>
        <th class="text-dark">Supprimer</th>
        {% for task in tasks %}
          <tr align="center">
            <td class="text-dark p-1">{{ task.name }}</td>
            <td class="text-dark p-1">{{ task.description }}</td>
            <td class="p-1">
              <a class="btn btn-primary" id="button-back" href="{% url 'polls:infos_task' task.id %}">Details</a>
            </td>
            <td class="p-1">
              <a class="btn btn-danger" id="button-back" href="{% url 'polls:delete_task' task.id %}">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Vous n'avez aucune tâche en cours</p>
  {% endif %}
  <a class="btn btn-primary p-2 m-2" id="button-back" href="{% url 'polls:create_task' %}">Créer tache</a>
{% endblock %}
